.faq-container {
  background-color: rgba(78, 139, 204, 0.745);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 3px #000000 solid;
  max-width: 800px; /* limits the container width */
  margin: 0 auto;   /* centers the container horizontally */
  padding: 20px;
  text-align: left; /* ensures all text inside is left-aligned */
}

.faq-container h1 {
  text-align: center; /* keeps the heading centered */
}

.faq-container li {
  list-style-type: disc;
  margin-bottom: 20px;
}

.faq-container h3 {
  margin: 0;
}

.faq-container p {
  margin: 5px 0 10px;
}

.delete-button {
  background-color: #ffffff;
  border: 2px #000000 solid;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.faq-container form {
  margin-top: 20px;
}

.faq-container form input {
  border-radius: 10px;
  border: 2px #4e4d4d solid;
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.faq-container form textarea {
  border-radius: 10px;
  border: 2px #4e4d4d solid;
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  min-height: 100px;
  padding: 10px;
}

.faq-container form button {
  background-color: #ffffff;
  border: 2px #000000 solid;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s , background-color 0.2s, border-color 0.2s, color 0.2s;
}

.delete-button:hover {
  transform: scale(1.03);
  background-color: #f0f0f0;
  border: 2px #2f2f2f solid;
}

.faq-container form button:hover {
  transform: scale(1.03);
  background-color: #f0f0f0;
  border: 2px #2f2f2f solid;
}