.forum-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.back-button {
  background-color: #00b3ff;
  border: 3px solid #034fab;
  margin-top: -10px;
  margin-bottom: 40px;
  width: 170px;
  padding: 10px 10px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: solid;
  color: #333;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.back-button:hover {
  transform: scale(1.05);
  background-color: #049fe2;
  border: 3px solid #40699c;
}

.post-details {
  background: #f5f5f5;
  border: 3px solid black;
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 40px;
  position: relative;
}

.post-details .post-author {
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.post-details .timestamp {
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.post-details h2 {
  margin-bottom: 50px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.post-details p {
  margin-bottom: 50px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.comments-section {
  margin-top: 30px;
  text-align: center;
}

.comments-section h3 {
  background-color: #fff;
  border: 3px solid black;
  margin-top: 0;
  width: 170px;
  padding: 10px 10px;
  border-radius: 40px;
  display: inline-block;
}

.comment-form textarea {
  border: 3px solid black;
  border-radius: 20px;
  resize: none;
  width: 100%;
  min-height: 150px;
  margin-bottom: 10px;
  padding: 10px;
}

.comment {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
  border: 3px solid black;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.submit-button {
  background-color: rgb(38, 211, 241);
  border: 3px solid rgb(38, 126, 241);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.3s , background-color 0.3s ease, border 0.3s ease;
}

.submit-button:hover {
  transform: scale(1.05);
  background-color: rgb(38, 180, 241);
  border: 3px solid rgb(38, 100, 241);
}
.comment-meta {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.timestamp {
  color: #999;
}

