@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-modal {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 300px;
  text-align: center;
  animation: zoomIn 0.2s ease-in-out;
}

.login-modal h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: x-large;
  font-weight: bold;
}

/* Style for input fields */
.login-modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(216, 215, 215, 0.5);
  border: 1px solid rgb(78, 78, 78);
  border-radius: 15px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

/* Style for buttons */
.login-modal button {
  background-color: rgba(216, 215, 215, 0.5);
  border: 1px solid rgb(78, 78, 78);
  color: black;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s , border 0.3s;
}

.login-modal button:hover {
  background-color: rgba(179, 178, 178, 0.5);
  border:1 px solid rgb(54, 54, 54);
}

/* Style for the register/login toggle link */
.login-modal p {
  margin-top: 15px;
}

.login-modal a {
  color: #007bff;
  text-decoration: none;
}

.login-modal a:hover {
  text-decoration: underline;
}

/* Style for error messages */
.error-message {
  color: red;
  margin-top: 10px;
}