#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('../assets/vecteezy_background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: 3rem;
  text-align: center;
  flex: 1 0 auto; 
}

header, footer {
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
  border-bottom: 5px solid #0090FF;
}

footer {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(15px);
  margin: 0;
  display: flex;
  font-size: medium;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: auto;
  flex-shrink: 0;
}

h1, h2, h3 {
  margin: 2rem;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 4rem;
}

.section-card {
  background-color: #fff;
  padding: 1rem;
  border: 2px solid #040a5f;
}

img {
  width: 100%;
  margin: auto;
  display: block;
}

.nav-buttons {
  display: flex;
  gap: 60px;
  margin: 10px;
}

.nav-buttons .nav-btn {
  padding: 10px 50px;
  background-color: #70c8ff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  color: #000000;
  transition: transform 0.3s, background-color 0.3s, border 0.3s, box-shadow 0.3s;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons .nav-btn:hover {
  transform: scale(1.05);
  background-color: #7fbbe1;
  border: 3px solid white;
  box-shadow: 0 4px 8px white, 0 -4px 8px white;
}

.nav-buttons .btn-login {
  background-color: #07fab1;
}

.nav-buttons .btn-logout {
  background-color: #f54c0a;
}

.nav-buttons .btn-login:hover {
  transform: scale(1.05);
  background-color: #58f0c3;
}

.nav-buttons .btn-logout:hover {
  transform: scale(1.05);
  background-color: #f57643;
}

.admin-floating {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #2406ad;
  border: 3px solid #2406ad;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.3s, border 0.3s, box-shadow 0.3s, color 0.3s;
}

.admin-floating:hover {
  transform: scale(1.05);
  background-color: #2c06d2;
  border: 3px solid #70c8ff; 
  box-shadow: 0 4px 8px #70c8ff, 0 -4px 8px #70c8ff;
  color: #fff;
}
