#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(8, 150, 153, 0.297);
  background-size: cover;
}

main {
  padding: 3rem;
  text-align: center;
  flex: 1 0 auto; 
}

header, footer {
  background-color: rgba(26, 41, 73, 0.7);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header {
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; 
}

footer {
  margin: 0;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  display: flex;
  font-size: medium;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: auto;
  flex-shrink: 0;
}

h1, h2, h3 {
  margin: 2rem;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 4rem;
}

.section-card {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
}

img {
  width: 100%;
  margin: auto;
  display: block;
}

.nav-buttons {
  display: flex;
  gap: 60px;
  margin: 10px;
}

.nav-buttons .nav-btn {
  padding: 10px 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  color: #fff;
  transition: transform 0.3s ease , background-color 0.3s ease;
  width: 150px;
  height: 40px;
}

.nav-buttons .btn-home {
  background-color: #28a745;
}

.nav-buttons .btn-articles {
  background-color: #28a745;
}

.nav-buttons .btn-forum {
  background-color: #28a745;
}

.nav-buttons .btn-faq {
  background-color: #28a745;
}

.nav-buttons .btn-login {
  background-color: #0a76b5;
}

.nav-buttons .btn-logout {
  background-color: #ff00009d;
}

.nav-buttons .btn-home:hover {
  transform: scale(1.05);
  background-color: #38894b;
}

.nav-buttons .btn-articles:hover {
  transform: scale(1.05);
  background-color: #38894b;
}

.nav-buttons .btn-forum:hover {
  transform: scale(1.05);
  background-color: #38894b;
}

.nav-buttons .btn-faq:hover {
  transform: scale(1.05);
  background-color: #38894b;
}

.nav-buttons .btn-login:hover {
  transform: scale(1.05);
  background-color: #0369a4;
}

.nav-buttons .btn-logout:hover {
  transform: scale(1.05);
  background-color: #ff0019b4;
}

/* Floating Admin Dashboard Button */
.admin-floating {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #2406ad;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.admin-floating:hover {
  transform: scale(1.1);
  background-color: #2c06d2;
}